.calculator {
  margin-top: 53px;
}

.calculator__title {
  @include reset-text;
  @include base-font($bold);
  font-size: 22px;
  line-height: 31px;
}

@media (min-width: $tablet-width) {
  .calculator {
    margin-top: 67px;
  }

  .calculator__wrapper {
    padding: 0 45px;
  }

  .calculator__title {
    font-size: 32px;
    line-height: 49px;
  }
}

@media (min-width: $desktop-width) {
  .calculator {
    margin-top: 96px;
  }

  .calculator__wrapper {
    padding: 0 98px;
  }

  .calculator__title {
    font-size: 41px;
    line-height: 57px;
  }
}
