.footer-nav__item {
  padding: 5px 0;
}

.footer-nav__link {
  @include base-font($medium);
  display: block;
  color: $main-text-color;
  font-size: 14px;
  line-height: 20px;

  &--active,
  &:focus,
  &:hover {
    color: $button-color;
  }
}

@media (min-width: $tablet-width) {
  .footer-nav {
    @include base-flex;
    flex-direction: column;
    width: 35%;
    height: 120px;
    margin-top: 50px;
    order: 1;
  }

  .footer-nav__item {
    padding: 4px 0;
  }

  .footer-nav__link {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .footer-nav {
    width: auto;
    height: auto;
    margin: 26px 0 0 9px;
    padding-top: 2px;
    order: 2;
  }

  .footer-nav__link {
    line-height: 23px;
  }
}
