.promo-slider {
  position: relative;
  max-height: 226px;
}

@media (min-width: $tablet-width) {
  .promo-slider {
    max-height: 300px;
  }
}

@media (min-width: $desktop-width) {
  .promo-slider {
    max-height: 400px;
  }
}
