.services {
  position: relative;
  max-height: 362px;
  background-color: $background-color;
}

.services__dots .dots__dot--active {
  background-color: $services-background-color;
}

@media (min-width: $tablet-width) {
  .services {
    max-height: 380px;
  }
}

@media (min-width: $desktop-width) {
  .services {
    max-height: inherit;
    background-color: $global-background-color;
  }
}
