.social {
  @include base-flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  position: relative;
  display: block;
  color: $main-text-color;

  &:focus,
  &:hover {
    color: $button-color;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-left: 103px;
    padding-top: 0;
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .social {
    align-items: center;
    width: auto;
    min-width: 101px;
    margin-left: 8px;
    padding-top: 12px;
  }

  .social__item {
    margin-bottom: 8px;

    &:not(:last-child) {
      margin-right: 0;
    }

    &:not(&--youtube) {
      margin-right: 14%;
    }
  }
}
